.last{
    position: absolute;
    top: 60px;
    left: 200px;
}
div.star{
    width: 270px;
    display: inline-block;
}

input.star{
    display: none;
}
label.star{
    float: right;
    padding: 10px;
    font-size: 50px;
    color:rgb(238, 238, 227)
}

input.star:checked ~ label.star::before{
    content: '\f005';
    color: rgb(245, 9, 25);
transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: rgb(9, 255, 29);
    text-shadow: 0 0 20px rgb(248, 17, 17);
    }
    
    input.star-1:checked ~ label.star:before { color: #F62; }
    
    
    label.star:before {
    content: '\f005';
    font-family: FontAwesome;
    }

    .red{
        color: red;
    }

    .col-5{
        display: grid;
        grid-template-columns: 35% 35% 35% 35% 35%;
        position: absolute;
        left: 20%;
        justify-content: space-between;

    }
    
    .col-6{
        display: grid;
        grid-template-columns:40% 30% 20% 25% 30% 25%;
        position: absolute;
        justify-content: space-between;
        }
        
        .form{
            background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #1e74d5, #290ef4);
            color: rgb(0, 0, 0);
            
            }
   

           
           
           
